In [ ]:
import numpy as np 
import pandas as pd 
import sklearn
from sklearn import linear_model
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt

In [ ]:
data=pd.read_csv('qualifying.csv')
data

,qualifyId,raceId,driverId,constructorId,number,position,q1,q2,q3
0,1,18,1,1,22,1,1:26.572,1:25.187,1:26.714
1,2,18,9,2,4,2,1:26.103,1:25.315,1:26.869
2,3,18,5,1,23,3,1:25.664,1:25.452,1:27.079
3,4,18,13,6,2,4,1:25.994,1:25.691,1:27.178
4,5,18,2,2,3,5,1:25.960,1:25.518,1:27.236
...,...,...,...,...,...,...,...,...,...
8868,8909,1060,8,51,7,16,1:05.009,\N,\N
8869,8910,1060,839,214,31,17,1:05.051,\N,\N
8870,8911,1060,849,3,6,18,1:05.195,\N,\N
8871,8912,1060,854,210,47,19,1:05.427,\N,\N
8872,8913,1060,853,210,9,20,1:05.951,\N,\N

In [ ]:
new_data=data.drop(columns=['qualifyId','q1','q2','q3','number'])
new_data

      raceId  driverId  constructorId  position
0         18         1              1         1
1         18         9              2         2
2         18         5              1         3
3         18        13              6         4
4         18         2              2         5
...      ...       ...            ...       ...
8868    1060         8             51        16
8869    1060       839            214        17
8870    1060       849              3        18
8871    1060       854            210        19
8872    1060       853            210        20

[8873 rows x 4 columns]

In [ ]:
x=new_data.iloc[:,:-1]
y=new_data.iloc[:,-1]
y

0        1
1        2
2        3
3        4
4        5
        ..
8868    16
8869    17
8870    18
8871    19
8872    20
Name: position, Length: 8873, dtype: int64

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=1.0/3,random_state=100)

In [ ]:
regressor=LinearRegression()

In [ ]:
regressor.fit(x_train,y_train)

LinearRegression()

In [ ]:
regressor.coef_

array([-0.00503353,  0.00540697,  0.02487436])

In [ ]:
regressor.intercept_

11.612115358800988

In [ ]:
regressor.predict([[1060,853,210]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([16.11233488])